
// we can declare global values for our desired colors from any scss file and
// they can be imported on the main styles file for it to allow us to use
// the values in other scss files
$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #D8D8D8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;